.datepicker-date-display {
    background-color: #29b6f6;
}
.datepicker-table td.is-selected{
    background-color: #29b6f6;
}


.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done{
    background-color: #29b6f6;
    color: white;
    margin: 2px;

}
.is-today{
    color: #29b6f6;
}

form {
    border: 5px solid #29b6f6;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
}
#formButton {
    margin-bottom: 10px;
}
p {
    margin-top: 30px;

}
html {
    background-image: url("../imgs/image1.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover ;
}
.input-field>label{
    color: blue;
}

.info-map {
    border-radius: .5em;
}

.player2 {
    border: 1px solid red;
    height: 595px;
    width: 965px;
}