.datepicker-date-display {
    background-color: #29b6f6;
}
.datepicker-table td.is-selected{
    background-color: #29b6f6;
}


.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done{
    background-color: #29b6f6;
    color: white;
    margin: 2px;

}
.nav-wrapper {
    background-image: url(../imgs/banner.jpg);
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
}
.is-today{
    color: #29b6f6;
}

form {
    border: 5px solid #29b6f6;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
}
#formButton {
    margin-bottom: 10px;
}
p {
    margin-top: 30px;

}
.page1 {
    background-color: #29b6f6;
    background-image: url("../imgs/bg.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    background-attachment: fixed;
}
.page2 {
    background-color: black;
}
.input-field>label{
    color: blue;
}

.info-map {
    border-radius: .5em;
}

.player2 {
    color: white;
    font-size: 40px;
    border: 1px solid red;
    height: 595px;
    width: 100%;
}
 /* nav{
    height: 101px;
    background-image: url(../imgs/snow.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
} */
#city-results {
    border: 5px solid #29b6f6;
    
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;

}
.page-footer{
    background-color: #29b6f6;
    text-align: center;
    
}
h3{
  color: black;  
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}