.datepicker-date-display {
    background-color: #29b6f6;
}
.datepicker-table td.is-selected{
    background-color: #29b6f6;
}


.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done{
    background-color: #29b6f6;
    color: white;
    margin: 2px;

}
.is-today{
    color: #29b6f6;

form {
    border: 5px solid #29b6f6;
    margin-top: 30px;
}
#formButton {
    margin-bottom: 10px;
}
p {
    margin-top: 30px;

}